<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      <!-- CSS -->
      {% if config.extra.hyde_social_links %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      {% endif %}
      <link rel="stylesheet" href="{{ get_url(path="print.css", trailing_slash=false) }}" media="print">
      <link rel="stylesheet" href="{{ get_url(path="poole.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="{{ get_url(path="hyde.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="{{ get_url(path="custom.css", trailing_slash=false) }}">
      {% if config.extra.hyde_theme == 'theme-hype' %}
      <link rel="stylesheet" href="{{ get_url(path="hype.css", trailing_slash=false) }}">
      {% endif %}
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
      <link rel="icon" type="image/png" href={{ get_url(path="favicon.png", trailing_slash=false) }} />

      {% if config.generate_feed %}
      <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
      {% endif %}

      {% if config.extra.use_katex %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js" integrity="sha384-cpW21h6RZv/phavutF+AuVYrr+dA8xD9zs6FwLpaCct6O9ctzYFfFr4dgmgccOTx" crossorigin="anonymous"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
      {% endif %}
      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body class="{{ config.extra.hyde_theme }} {% if config.extra.hyde_reverse %}layout-reverse{% endif %}">
        {% block sidebar %}
            <div class="sidebar">
                <div class="container {% if config.extra.hyde_sticky %}sidebar-sticky{% endif %}">
                    <div class="sidebar-about">
                        {% block sidebar_about %}
                            <a href="{{ config.base_url }}"><h1>{{ config.title }}</h1></a>
                            {% if config.description %}
                            <p class="lead">{{config.description}}</p>
                            {% endif %}
                        {% endblock sidebar_about %}
                    </div>
                    <ul class="sidebar-nav">
                        {% block sidebar_nav %}
                        {% for link in config.extra.hyde_links %}
                        <li class="sidebar-nav-item"><a href="{{link.url}}">{{link.name}}</a></li>
                        {% endfor %}
                        {% endblock sidebar_nav %}
                    </ul>
                    {% block social_links %}
                    {% if config.extra.hyde_social_links is defined %}
                    <div class="social-icons">
                        {% for link in config.extra.hyde_social_links %}
                        <a href="{{link.url}}"><i class="fa-{{link.set}} fa-{{link.name}}"></i></a>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endblock %}
                </div>
            </div>
        {% endblock sidebar %}
        <div class="content container">
            {% block content %}
            {{section.content|safe}}
            {% endblock content %}
        </div>
    </body>
</html>
